@charset "utf-8";
/*
*/
/*----------------------------------------------------------->
	Local Resets and Roots
<------------------------------------------------------------*/
a, button {
	text-decoration: none;
	font-style: inherit;
	color: inherit;
}
li {
	list-style-type: none;
	text-decoration: none;
}

body {
	font-family: "Poppins";
	background-color: var(--clr-background);
	overflow: visible;
}

/*----------------------------------------------------------->
	Utility Classes 
<------------------------------------------------------------*/

:root {
	--clr-background: #30378b;
	--clr-primary: #012;
	--clr-seconardy: #4e2;
	--clr-accent: #d1b;
	--clr-text-light: #fefefe;
	--clr-text-dark: #012;
	--app-bdr-rad: 7px;
	--app-padding: 30px;
	--app-large-padding: 150px;
	--app-border-rad: 8px;
}

.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
}

.flex {
	display: flex;
}

.f-col {
  display: flex;
	flex-direction: column;
}
.ease-quick {
	transition: all 0.3s ease-in-out;
}

.ease-slow {
	transition: all 0.8s ease-in-out;
}

.hidden {
	display: none;
	opacity: 0;
}

.circle {
	border-radius: 50%;
}

.pointer {
	cursor: pointer;
}
.hover {
	transition: all 0.2s ease-in-out;
}
.hover:hover {
	color: var(--clr-background);
}
.center {
	align-items: center;
	justify-content: center;
}
.sp-even {
	width: 100px;
	justify-content: space-evenly;
}
.fifty-w {
	flex: 1;
}
button {
	border: none;
	outline: none;
}
h4, h5 {
	margin-bottom: 25px;
}
h5 {
	font-size: 1.2rem;
}
h4 {
	font-size: 1rem;
}
.hero-banner {
	height: 40svh;
	width: 100%;
	background: var(--clr-background) url('../img/cactus-logo-bg.PNG') no-repeat center bottom;
	background-size: contain;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	h1 {
		height: 10svh;
		line-height: 10svh;
		color: var(--clr-text-light);
		text-shadow: 2px 2px 2px var(--clr-text-dark);
		font-size: 3.4rem;
		text-align: center;
	}
	h2 {
		height: 20svh;
		text-align: center;
		line-height: 20svh;
		font-size: 2.4rem;
		font-weight: 600;;
		color: var(--clr-text-light);
	}
	img {
		height: 280px;
		width: auto;
		aspect-ratio: 1 /1;
	}
}

button {
		height: 50px;
		width: fit-content;
		padding: 0 10px;
		border-radius: var(--app-bdr-rad);
		font-size: 1rem;
		color: #fefefe;
		background-color: var(--clr-background);
		transition: all 0.25s ease-in-out;
		cursor: pointer;
}

button:hover {
	filter: brightness(0.7);
}

.logo-container {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 50px;
	top: 50px;
}

.nav-wrapper {
	width: 100%;
	height: 8svh;
	background-color: antiquewhite;
	position: sticky;
	top: 0;
  z-index: 1000;
}

.link-wrapper {
	height: 80px;
	align-items: center;
}
.logo-wrapper {
	height: 8svh;
	line-height: 8svh;
}
nav {
	width: 100%;
	height: 8svh;
	padding: 0 var(--app-padding);
	align-items: center;
	position: relative;
	justify-content: space-between;
  color: var(--clr-primary);
	h3 {
		font-size: 2rem;
	}
}

.memory-card {
	width: min(100% - 30px, 400px);
}

.small-logo-wrapper {
	margin-right: var(--app-padding);
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	img {
		height: 100%;
		aspect-ratio: 1 / 1;
	}
}
.burger-menu {
	display: none;
}
.link-wrapper {
  width: 320px;
	align-items: center;
	display: flex;
  justify-content: space-evenly;
  transition: all 0.5s ease-in-out;
  a {
  font-size: 1.6rem;
	}
}
.dates-wrapper {
	width: 400px;
	justify-content: space-between;
	margin-bottom: 50px;
}
.location {
	display: inline-block;
	text-align: center;
	font-size: 1.2rem;
	font-weight: 700;
}

.program {
	padding: var(--app-padding);
	padding-top: 10svh;
	background-color: antiquewhite;
	h2, h4 {
		text-align: center;
	}
	h2 {
		font-size: 3rem;
	}
	button {
		margin: 0 auto;
	}
}
	.dates-wrapper {
		width: 300px;
	}
.program-wrapper {
	display: flex;
	gap: 10px;
	h3 {
		text-align: center;
	}
}
main {
	background-color: #faebd7;
	align-items: center;
	height: fit-content;
}
.bio-wrapper {
	background-color: antiquewhite;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.button-wrapper {
	margin: 50px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.cast, .crew {
	transition: all 0.5s ease-in-out;
	figcaption {
		font-size: 1.6rem;
		text-align: center;
	}
	figure {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
	cursor: pointer;
		p {
			text-align: center;
			font-size: 1.2rem;	
		}
	}
	img {
		width: 400px;
	}
	.small {
		width: 200px;		
	}
	p {
		width: 400px;
	}
}
.memories {
	figure {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	figcaption {
		width: min(100% - 30px, 500px);
		margin: 25px 0;
		text-align: center;
	}
}
.jordan, .hope, .natalie, .connor, .shane, 
.steph, .alison, .julia, .heather, .bernard, .davep, .rick, .chantal, .daves {
	height: 700px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
}
.jordan.collapse, .hope.collapse, .natalie.collapse, .connor.collapse, .shane.collapse,
.steph.collapse, .alison.collapse, .julia.collapse, .heather.collapse,
.bernard.collapse, .davep.collapse, .rick.collapse, .chantal.collapse, .daves.collapse
 {
	height: 0;
}
.cast, .crew {
	transform: translateY(0);
	overflow: hidden;
	/* height: 400px; */
}

.cast.collapse, .crew.collapse {
	height: 0;
}

.about-main {
	height: 92svh;
	padding: 15svh 50px;
}
.dan-photo {
	float: right;
	width: 300px;
	aspect-ratio: 1/1;
	margin: var(--app-padding) 0;
}
.message {
	width: min(100% - 30px, 500px);
	input {
		width: 100%;
		height: 60px;
		font-size: 1.4rem;
		border-radius: var(--app-border-rad);
		padding: 0 10px;
	}
	textarea {
		padding: 10px;
		font-size: 1.2rem;
		width: 100%;
		height: 30svh;
		resize: none;
		border-radius: var(--app-border-rad);
	}
}

.photo-columns {
	background-color: #faebd7;
  column-count: 3;
  column-gap: 16px;
  padding: 15px 50px;
}

.photo-columns img {
  width: 100%;
  margin-bottom: 16px;
  display: block;
  border-radius: 8px;
}

.photo-title {
	text-align: center;
	font-size: 2rem;

}

.memories, .photo-wrapper {
	background-color: #30378b;

	section {
		background-color: #faebd7;
	}
}

@media (max-width: 1200px) {
	body{ 
		background-color: #faebd7;
	}
	nav {
		h3 {
			font-size: 1.7rem;
		}
	}
	.link-wrapper  {
		width: 250px;
		a {
			font-size: 1.2rem;
		}
	}
}
@media (max-width: 850px) {
	nav {
		h3 {
			font-size: 1.6rem;
		}
	}
	.link-wrapper  {
		width: 250px;
			a {
			font-size: 1rem;
		}
	}

}

@media (max-width: 700px) {
	.program-wrapper {
		flex-direction: column;
	}
	nav {
		padding: 0;
	 	h3 {
			font-size: 1.3rem;
		}
	}
	.photo-columns {
		column-count: 2;
	}
	.link-wrapper {
	width: 230px;
	div {
		width: 60px;
	}
	}
	.jordan, .hope, .natalie, .connor, .shane, 
.steph, .alison, .julia, .heather, .bernard, .davep, .rick, .chantal, .daves {
	height: 1000px;
	}
}
@media (max-width: 620px) {
	main {
		padding: 0;
	}
	.program-wrapper {
		flex-direction: column;
	}
	nav h3 {
		font-size: 1.2rem;
	}
	.small-logo-wrapper {
		margin-right: 5px;
		height: 50px;
	}
	.burger-menu {
		display: block;
	}
	.sp-even {
		width: 100%;
	}
	.link-wrapper {
		height: 200px;
		width: 200px;
		flex-direction: column;
		position: absolute;
		right: 0;
		top: 8svh;
		background-color: #faebd7;
		padding: 0 var(--app-padding);
		display: none;
	}
	.link-wrapper.visible {
		display: flex;
	}
	.dates-wrapper {
		width: 260px;
	}
	.cast p, .crew p {
		width: 300px;
	}
	.location {
		display: flex;
		flex-direction: column;
		span {
			display: block;
		}
		.dash {
			display: none;
		}
	}
}

@media(max-width: 580px) {
		.photo-columns {
		column-count: 1;
	}
}
