@charset "utf-8";
/*
	- Choosing domain name
	- Needs new font
	- Email and social links
	- Responsiveness
	- Program layout
	- About us layout
	- Colour pallete 
*/
/*----------------------------------------------------------->
	Local Resets and Roots
<------------------------------------------------------------*/
a, button {
	text-decoration: none;
	font-style: inherit;
	color: inherit;
}
li {
	list-style-type: none;
	text-decoration: none;
}

button {
	border: none;
	outline: none;
}

body {
	font-family: "Poppins";
	background-color: var(--clr-background);
  scroll-behavior: smooth;
}
/*----------------------------------------------------------->
	Utility Classes 
<------------------------------------------------------------*/

:root {
	--clr-background: #fefefe;
	--clr-primary: #012;
	--clr-seconardy: #4e2;
	--clr-accent: #d1b;
	--clr-text-light: #fefefe;
	--clr-text-dark: #012;
	--app-bdr-rad: 7px;
	--app-padding: 10px;
}

.container {
	width: min(100% - 30px, 1200px);
	margin-inline: auto;
}

.flex {
	display: flex;
}

.f-col {
  display: flex;
	flex-direction: column;
}

.ease-quick {
	transition: all 0.3s ease-in-out;
}

.ease-slow {
	transition: all 0.8s ease-in-out;
}

.hidden {
	display: none;
	opacity: 0;
}

.circle {
	border-radius: 50%;
}

.pointer {
	cursor: pointer;
}


header {
	height: 60svh;
	width: 100%;
	background: var(--clr-background) url('../img/spotlight2.jpg') no-repeat center bottom;
	background-size: cover;
	position:relative;
	filter: brightness(0.8);
	justify-content: center;
	align-items: center;

	h1 {
		height: 10svh;
		line-height: 10svh;
		color: var(--clr-text-light);
		text-shadow: 2px 2px 2px var(--clr-text-dark);
		font-size: 3.4rem;
		text-align: center;
	}
	h2 {
		height: 20svh;
		text-align: center;
		line-height: 20svh;
		font-size: 2.4rem;
		font-weight: 600;;
		color: var(--clr-text-light);
	}

	img {
		height: 280px;
		width: auto;
		aspect-ratio: 1 /1;
	}
}

button {
		margin: 10px;
		height: 50px;
		width: 120px;
		border-radius: var(--app-bdr-rad);
		font-size: 1rem;
		background-color: var(--clr-accent);
		transition: all 0.25s ease-in-out;
}

button:hover {
	filter: brightness(0.7);
}

.logo-container {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 50px;
	top: 50px;
}

.nav-wrapper {
	width: 100%;
	height: 80px;
	justify-content: center;
	background: var(--app-gradient);
  backdrop-filter: blur(5px) brightness(0.4);
	transform: translateY(-100%);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5000; 
  transition: all 0.5s ease-in-out;
}

.nav-wrapper.visible {
	transform: translateY(0);
}

nav {
	width: 100%;
	height: 80px;
	align-items: center;
	position: relative;
	justify-content: space-between;
  color: var(--clr-primary);
	h3 {
		font-size: 2.4rem;
		color: var(--clr-text-light);
	}
}

.small-logo-wrapper {
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
	img {
		height: 100%;
		aspect-ratio: 1 / 1;
	}
}

.link-wrapper {
  width: 550px;
	align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;

  a {
  font-size: 1.6rem;
  transition: all 0.25s ease-in-out;
	color: var(--clr-text-light);

  	&:hover {
    	backdrop-filter: brightness(1.2);
  	}
  }
}


.program {
	height: 120svh;
	img {
		height: 400px;
		width: 350px;
	}
	div {
		padding: 8px;
	}
}